$hero-background: #FFB8CA;
$primary-color: #FFFFFF;
$accent-color: #D41443;
$secondary-color: #FFF5F6;
$first-text-color: #000000;
$second-text-color: #907E82;

$primary-font: "Titan One", sans-serif;
$secondary-font: "DM Sans", coursive;